/* salvar como avatar.css */
body { 
	background:url(imgs/fundo.jpg); 
	background-size: cover;
	font-family:Creepster;
}
@font-face {
    font-family:Creepster;
    src:url('ttf/Creepster-Regular.ttf') format('truetype');
}
h1{
	color:brown;
	font-size:80px;
	text-align:center;
}

.center {
	position: absolute ;
	left: 50% ;
	top: 50% ;
	transform: translate(-50%, -50%) ;
	border: 5px solid #FFFF00 ;
	padding: 10px ;
}
#aviso, input[type=button] {
	background-color:beige ;
	font-size:60px ;
	text-align:center ;
} 
input[type=button] { background-color:#a218a4 ;}
#direitos {
	font-family:arial ;
	font-size:11px ;
	background-color:pink ;
	margin:10px ;
	padding:5px ;
}